.main {
    padding: 0em;
}

.signIn {
    background: #fff url("slanted-gradient.svg"); /*https://www.svgbackgrounds.com/*/
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 36em;
    border-radius: 1em;
    background-color: #fff;
    margin: 10% 35%;
    box-shadow: 0.3em 0.3em 0.5em rgb(37, 37, 37);
}

input {
    width: 20em;
    margin: 0.5em;
    height: 2em;
    border-radius: 0.3em;
}

button {
    height: 2.5em;
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
}

button:hover {
    background-color: blue;
}