.alarms {
    display: flex;
    background-color: lightgray;
    height: 36em;
    overflow: auto;
    border-bottom: 0.3em solid black;
}

table {
    flex: 1;
    border-collapse: collapse;
    border-spacing: 0px;
    height: fit-content;
}

th {
    padding: 0.3em;
    margin: 0px;
    overflow: auto;
    border-left: 0.01em solid black;
    background-color: rgb(61, 60, 60);
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

td {
    border: solid 1px;
    width: auto;
    height: auto;
    min-height: 20px;
    min-width: 20px;
    font-weight: 600;
    font-size: small;
}

.warning {
    background-color: white;
    opacity: 0.7;
}

.minor {
    background-color: yellow;
    opacity: 0.7;
}

.major {
    background-color: orange;
    opacity: 0.7;
}

.critical {
    background-color: red;
    opacity: 0.7;
}