.filterSection {
    display: flex;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 0.1em solid black;
}

.filterSection span {
    font-weight: 400;
}
.filterSection select {
    width: 8.6em;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3em;
}

.column button {
    margin-top: 4em;
    background-color: rgb(61, 60, 60);
    color: white;
    width: 8em;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}

.column button:hover {
    background-color: rgb(0, 0, 0);
}

.filterTitle {
    align-self: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.4em;
    font-weight: 500;
}